# Environment
.env
.venv/

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Flutter
.dart_tool/
build/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Linux
*~

# Logs
*.log

flutter_application_1/